<!--The content below is only a placeholder and can be replaced.-->
<!--div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
     Bienvenido a Angular 
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<hello-world></hello-world>
<hello-world></hello-world>
<hello-world></hello-world>
<app-hello-world></app-hello-world-->
<!-- <div>
  <p>name: {{ name }}</p>
  <p>Street: {{ address.street }}</p>
  <p>City: {{ address.city }}</p>
  <ul>
    <li *ngFor="let hobbie of hobbies">{{ hobbie }}</li>
  </ul>
</div> -->
<!--form (submit)="addUser(newUser)">
  <input type="text" #newUser autofocus>
  <button>
    Send User
  </button>
</form>

<ul>
  <li *ngFor="let user of users">
    < {{ user }} <button (click)="alerting()">Say Hello!</button> 
    {{ user }} <button (click)="deleteUser( user )">X</button>
  </li>
</ul>

<div>
  <form>
    <div>
      <label>Name:</label>
        <input type="text" name="name" id="" [(ngModel)]="name">
    </div>
    <div>
      <label>Age:</label>
        <input type="text" name="age" id="" [(ngModel)]="age">
    </div>
  </form>
  name: {{ name }} <br>
  Age: {{ age }}
</div>

<button (click)='alerting()' >
  Click me!
</button>

<hr>

<div *ngFor="let post of posts">
  <h3>{{ post.title }}</h3>
  <p>{{ post.body }}</p>
</div-->
<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/about">About</a></li>
</ul>
<router-outlet></router-outlet>